<!doctype html>
<html lang="en">


<!-- Metadata about the page itself for search engines -->
<head>
	<!-- shared common Head Logic -->
	<%- include('Components/Head', {
		PageData: PageData,
		HeadData: {
			Title: "Louie J-S: Portfolio",
			Description: "Louie Jones-Strong's portfolio. How I made my portfolio Website.",
			Url: "https://louie-jones-strong.github.io/Portfolio.html",
			Thumbnail: "https://louie-jones-strong.github.io/Assets/PortfolioProject/Thumbnail.png",
		}
	}); %>

	<!-- extra links if needed -->
	<link rel="stylesheet" type="text/css" href="StyleSheets/OptinalComponents/Gallery.css">
</head>

<body class="dark">

	<div class="content">

		<!-- shared common header -->
		<%- include('Components/Header'); %>

		<nav class="glass">
			<a class="neonOutline" href="#Introduction">Introduction</a>
			<a class="neonOutline" href="#Inspiration">Inspiration</a>
			<a class="neonOutline" href="#Accessibility">Accessibility</a>
			<a class="neonOutline" href="#Usability">Usability</a>
			<a class="neonOutline" href="#Learning">Learning</a>
			<a class="neonOutline" href="#Evaluation">Evaluation</a>
			<a class="neonOutline" href="#Resources">Resources</a>
			<a class="neonOutline" href="#SiteMap">Design Plan</a>
		</nav>

		<div class="centeredFrame">
			<h1 class="center reveal fromLeft">Portfolio</h1>

			<%- include('Components/QuickInfo', {
				QuickInfoData: {
					TimeSpent: "Month",
					NumPeople: 1,
					GithubLink: "https://github.com/louie-jones-strong/louie-jones-strong.github.io",
					Skills: {
						UsedJavaScript: true,
						UsedHTML: true,
						UsedNodejs: true,
						UsedCSS: true,
					}
				}
			}); %>

			<!-- Introduction -->
			<section id="Introduction" class="glass rounded">
				<h2 class="reveal fromTop center">Introduction</h2>

				<p class="reveal fromLeft">
					For university I had to make a website as part of my web development module.
					At the same time I was wanting a portfolio to show my work and accomplishments.
					So I decided to make a portfolio for this assignment.
				</p>
				<p class="reveal fromLeft">
					My high level goals for this website are to provide a quickly consumable way for people to see if my skills match their needs and be able to contact me.
				</p>
				<p class="reveal fromLeft">
					I broke down this high level vision into sub-goals:

				</p>
				<ul>
					<li class="reveal fromLeft">Provide ways for appropriate people to contact me</li>
					<li class="reveal fromLeft">Look both technical and creative</li>
					<li class="reveal fromLeft">Show off my skills</li>
					<li class="reveal fromLeft">Be quickly consumable at a high level</li>
					<li class="reveal fromLeft">Be easily expandable beyond the assignment, and when I create more work</li>
					<li class="reveal fromLeft">Have search engine optimisation</li>
					<li class="reveal fromLeft">Easily shareable</li>
					<li class="reveal fromLeft">Learn new skills</li>
				</ul>

				<p class="reveal fromLeft">
					As this was my first attempt at creating a full website, I embraced the agile methodology and implemented
					google analytics to give me feedback to continually improve it.
				</p>
			</section>

			<!-- Inspiration -->
			<section id="Inspiration" class="glass rounded">
				<h2 class="reveal fromTop center">Inspiration</h2>
				<p class="reveal fromLeft">
					Before starting on the design I researched current <abbr title="User Interface">UI</abbr> design trends:
				</p>
				<ol>
					<li class="reveal fromLeft">
						<a href="https://en.wikipedia.org/wiki/Skeuomorph" target="_blank">Skeuomorphism</a>
						<p>
							Skeuomorphism is meant to look realistic but needs a large amount of detailed art.
						</p>

					</li>

					<li class="reveal fromLeft">
						<a href="https://en.wikipedia.org/wiki/Flat_design" target="_blank">Flat Design</a>
						<p>
							Flat Design is very simplistic focused on ease of creation and readability.
							This didn't meet my goal of making the site look creative or impressive.
						</p>
					</li>

					<li class="reveal fromLeft">
						<a href="https://en.everybodywiki.com/Neumorphism" target="_blank">Neumorphism</a>
						<p>
							Neumorphism is a lower contrast monochromatic style that uses light and shadows to define edges of shapes.
							However, this leads to users struggling to recognise what they can interact with.
						</p>
					</li>

					<li class="reveal fromLeft">
						<a href="https://uxdesign.cc/glassmorphism-in-user-interfaces-1f39bb1308c9" target="_blank">Glassmorphism</a>
						<p>
							Glassmorphism was the newest design trend I found when planning.
							This has less constraints than neumorphism allowing me to define higher contrast to make the website
							more accessible.
						</p>
					</li>
				</ol>
				<p class="reveal fromLeft">
					I ended up deciding on using glassmorphism for this website due to it's simplicity combined with the modern look.
					However, one constraint of glassmorphism is that it requires the backgrounds to have well defined edges to
					highlight the blur effect from frosted glass.
				</p>

				<p class="reveal fromLeft">
					I also took inspiration from the following:
				</p>
				<ul>
					<li class="reveal fromLeft">Steam's trading card examine effect</li>
					<li class="reveal fromLeft"><a href="https://takeboost.com" target="_blank">takeboost.com</a></li>
					<li class="reveal fromLeft"><a href="http://findmatthew.com" target="_blank">findmatthew.com</a></li>
					<li class="reveal fromLeft"><a href="https://prashantsani.com" target="_blank">prashantsani.com</a></li>
				</ul>

				<p class="reveal fromLeft">
					I also took a lot of inspiration from some of the websites that I also took code from, as listed in the <a href="#Resources">resources section</a>.
				</p>

				<p class="reveal fromLeft">
					Once I decided on my vision for the website (<a href="#MockUps">See design mock-ups for more info</a>)
				</p>
			</section>

			<!-- Accessibility -->
			<section id="Accessibility" class="glass rounded">
				<h2 class="reveal fromTop center">Accessibility</h2>
				<p class="reveal fromLeft">
					While planning my portfolio, making the website accessible to all users was an important concern.
				</p>
				<ul>
					<li class="reveal fromLeft">Choice of appropriate design style</li>
					<li class="reveal fromLeft">I have chosen to use Roboto for the font as this is known as being accessible</li>
					<li class="reveal fromLeft">Light and Dark colour themes</li>
					<li class="reveal fromLeft">Scalable font, but defaulting to a large size where appropriate</li>
					<li class="reveal fromLeft">Check contrast of text</li>
					<li class="reveal fromLeft">Check that the entire website can be accessed without a mouse or touch, for example using the TAB key.</li>
					<li class="reveal fromLeft">Provided alt text for all images.</li>
				</ul>
			</section>

			<!-- Usability -->
			<section id="Usability" class="glass rounded">
				<h2 class="reveal fromTop center">Usability</h2>
				<p class="reveal fromLeft">
					To ensure usability I considered the following:
				</p>
				<ul>

					<li class="reveal fromLeft">Split content into well defined sections.</li>
					<li class="reveal fromLeft">Test on a variety of device types.</li>
					<li class="reveal fromLeft">Test on a variety of browsers.</li>
					<li class="reveal fromLeft">User testing.</li>
					<li class="reveal fromLeft">Check the website works without java script and CSS enabled.
						This is something I plan to address further.</li>
					<li class="reveal fromLeft">Saving user preferences to local storage.</li>
				</ul>
			</section>


			<!-- Learning -->
			<section id="Learning" class="glass rounded">
				<h2 class="reveal fromTop center">Learning</h2>
				<p class="reveal fromLeft">
					In order to learn about integrating with other APIs, and to facilitate further learning, I decided to use
					Google Analytics. This should provide me with a better understanding of how users respond to the website.
				</p>
				<p class="reveal fromLeft">
					Some of the main web-skills I learnt from doing this project were
				</p>
				<ul>
					<li class="reveal fromLeft">JQuery - This was used for the header footer and loading screen</li>
					<li class="reveal fromLeft">Typography - I found a particularly useful website fot this,  </li>
					<li class="reveal fromLeft"><abbr title="Scalable Vector Graphics">SVG</abbr></li>
					<li class="reveal fromLeft">JavaScript <abbr title="Document Object Model">DOM</abbr> manipulation</li>
					<li class="reveal fromLeft">Managing timescales of creative and learning tasks</li>
				</ul>
			</section>

			<!-- Evaluation -->
			<section id="Evaluation" class="glass rounded">
				<h2 class="reveal fromTop center">Evaluation</h2>

				<p class="reveal fromLeft">
					I am very happy with the website I have made, especially given the limit understanding of html, css
					and JavaScript I had at the start of this module.
				</p>

				<p class="reveal fromLeft">
					Having created a good framework to showcase my achievements, I am planning to expand it further.
					There is a lot of content I intend to add later. This will include work experience, examples of
					game-jams I have participated in, and other interests such as scuba-diving and my involvement in
					competitive sports.
				</p>

				<h3 class="reveal fromLeft">What Went Well</h3>
				<p class="reveal fromLeft">
					I am proud of the design of the website I feel it has met my goals set out in the introduction.
				</p>
				<p class="reveal fromLeft">
					I am surprised with the amount of content I was able to produce in a small amount of time.
					Based on this I feel I have successfully managed the scope and time of this project.
				</p>
				<p class="reveal fromLeft">
					I've learnt how to make a responsive website that accommodates a diverse set of users with differing
					<a href="#Accessibility">accessibility</a> needs.
				</p>
				<p class="reveal fromLeft">
					To speed up my workflow for this website and future websites I created a tool in python that resizes
					 all images and videos in a directory structure.
				</p>


				<h3 class="reveal fromLeft">What Could have Gone Better</h3>

				<p class="reveal fromLeft">
					One large mistake I made early on was developing the website on a 4k monitor, this meant that it
					didn't look like how I expected at lower screen resolutions.
					I ended up having to redo a lot of the html and css to work at lower resolutions.
					When making my next website I would continually test each change on each aspect ratio.
				</p>
				<p class="reveal fromLeft">
					I would have liked more time to be able to implement more content, such as my work experience and
					group projects.However I have designed this website to be easily editable and I am planning to add
					these projects along with any future ones to this portfolio soon.
				</p>
				<p class="reveal fromLeft">
					I should've asked for feedback on my initial plans before creating the webpage as this would've saved
					me a lot of time.
					I should've spent more time optimising loading times especially for the 24 hour blender challenges.
				</p>
			</section>


			<!-- Resources -->
			<section id="Resources" class="glass rounded">
				<h2 class="reveal fromTop center">Resources</h2>

				<h3 class="reveal fromLeft">Integrated</h3>
				<p class="reveal fromLeft">
					I used ideas and/or code from the following sources:
				</p>
				<ol>
					<li class="reveal fromLeft"><a href="https://www.youtube.com/watch?v=hv0rNxr1XXk" target="_blank">Real Glassmorphism Card Hover Effects | Html CSS Glass morphism Effects</a></li>
					<li class="reveal fromLeft"><a href="https://fonts.google.com/icons?preview.size=19" target="_blank">Google Fonts</a></li>
					<li class="reveal fromLeft"><a href="https://analytics.google.com/" target="_blank">Google Analytics</a></li>
					<li class="reveal fromLeft"><a href="https://redstapler.co/add-loading-animation-to-website/" target="_blank">How to Add Loading Animation to Website in 2 Minutes</a></li>
					<li class="reveal fromLeft"><a href="https://www.svgbackgrounds.com/" target="_blank">SVG Backgrounds</a></li>
					<li class="reveal fromLeft"><a href="https://ogp.me/" target="_blank">The Open Graph protocol Docs</a></li>
					<li class="reveal fromLeft"><a href="https://micku7zu.github.io/vanilla-tilt.js/" target="_blank">vanilla-tilt.js</a>
						(used for the tilting cards on the home page)</li>
				</ol>

				<h3 class="reveal fromLeft">Used For Learning</h3>
				<p class="reveal fromLeft">
					The following resources were used for reference:
				</p>
				<ol>
					<li class="reveal fromLeft"><a href="https://www.codingsnow.com/2021/01/reveal-webpage-elements-on-scroll-on.html" target="_blank">Reveal Website Elements On Scroll | On Page Scroll Down - Using HTML, CSS & Javascript</a></li>
					<li class="reveal fromLeft"><a href="https://www.youtube.com/watch?v=huVJW23JHKQ" target="_blank">Fade and scroll items into view while scrolling</a></li>
					<li class="reveal fromLeft"><a href="https://codepen.io/vince4513/pen/PomxOzg" target="_blank">Animated Background with Pure CSS and Html</a></li>
					<li class="reveal fromLeft"><a href="https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429" target="_blank">Coolers</a>
					(I used their colour blind tool)</li>
					<li class="reveal fromLeft"><a href="https://color.adobe.com/create/color-wheel" target="_blank">Color Harmony Rules</a></li>
					<li class="reveal fromLeft"><a href="https://www.w3schools.com/" target="_blank">W3Schools</a></li>
					<li class="reveal fromLeft"><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
				</ol>
			</section>

			<section id="SiteMap" class="glass rounded">
				<h2 class="reveal fromTop center">Site Map</h2>
				<img class="reveal fromBottom" src="Assets/PortfolioProject/SiteMap.svg" alt="Site Map">
			</section>

			<section id="Wireframes" class="glass rounded">
				<h2 class="reveal fromTop center">Wire Frames</h2>
				<div class="gallery">
					<img class="reveal fromBottom" src="Assets/PortfolioProject/Wireframes/Wireframe-Index.svg" alt="Index page wireframe">
					<img class="reveal fromBottom" src="Assets/PortfolioProject/Wireframes/Wireframe-Blender.svg" alt="Blender Projects page wireframe">
					<img class="reveal fromBottom" src="Assets/PortfolioProject/Wireframes/Wireframe-EggHunt.svg" alt="Office Egg Hunt page wireframe">
					<img class="reveal fromBottom" src="Assets/PortfolioProject/Wireframes/Wireframe-EPQ.svg" alt="EPQ page wireframe">
					<img class="reveal fromBottom" src="Assets/PortfolioProject/Wireframes/Wireframe-Puzzle.svg" alt="Alhambra 4D Cube Puzzle page wireframe">
				</div>
			</section>

			<section id="ComponentPlans" class="glass rounded">
				<h2 class="reveal fromTop center">Component Plans</h2>
				<div class="gallery">
					<img class="reveal fromBottom" src="Assets/PortfolioProject/SharedComponents.svg" alt="Shared Components technical design">
					<img class="reveal fromBottom" src="Assets/PortfolioProject/Wireframes/CardWireFrame.svg" alt="Shared Card Component WireFrame">
					<img class="reveal fromBottom" src="Assets/PortfolioProject/Wireframes/CarouselWireFrame.svg" alt="Shared Carousel Component WireFrame">
					<img class="reveal fromBottom" src="Assets/PortfolioProject/Wireframes/GallaryWireFrame.svg" alt="Shared Gallary Component WireFrame">
					<img class="reveal fromBottom" src="Assets/PortfolioProject/Wireframes/ZipperCardWireFrame.svg" alt="Shared Zipper Card Component WireFrame">
				</div>
			</section>

			<section id="MockUps" class="glass rounded">
				<h2 class="reveal fromTop center">Mock-ups</h2>

				<div class="gallery">
					<img class="reveal fromBottom" src="Assets/PortfolioProject/Mockups/DeskTop/index-MockUp.png" alt="Index desktop page mock-up">
					<img class="reveal fromBottom" src="Assets/PortfolioProject/Mockups/DeskTop/BlenderProjects-MockUp.png" alt="Blender Projects desktop page mock-up">
					<img class="reveal fromBottom" src="Assets/PortfolioProject/Mockups/DeskTop/EggHuntProject-MockUp.png" alt="Office Egg Hunt desktop page mock-up">
					<img class="reveal fromBottom" src="Assets/PortfolioProject/Mockups/DeskTop/EPQProject-MockUp.png" alt="EPQ desktop page mock-up">
					<img class="reveal fromBottom" src="Assets/PortfolioProject/Mockups/DeskTop/CubePuzzleProject-MockUp.png" alt="Alhambra 4D Cube Puzzle desktop page mock-up">
					<img class="reveal fromBottom" src="Assets/PortfolioProject/Mockups/DeskTop/report-MockUp.png" alt="Report desktop page mock-up">
				</div>
			</section>
		</div>

		<!-- Shared common footer -->
		<%- include('Components/Footer'); %>

		<script src="JavaScript/AnimateOnAppear.js"></script>

	</div>

	<!-- Shared common loader -->
	<%- include('Components/Loader'); %>
</body>
</html>