<%
if (CardData.ProjectData)
{
	ProjectData = CardData.ProjectData
	CardData = {
		Title: ProjectData.Title,
		Body: ProjectData.QuickDescription,
		Thumbnail: ProjectData.Thumbnail,
		QuickInfoData: ProjectData,
	}

	if (ProjectData.PagePath)
	{
		CardData.Link = ProjectData.PagePath + ".html"
	}
	else
	{
		CardData.Link = ProjectData.Link
	}
}

if (CardData.QuickInfoData && CardData.Thumbnail)
{
	CardData.QuickInfoData.Skills = null

	let dataText = CardData.QuickInfoData.Date
	if (dataText && dataText.length > 15)
	{
		CardData.QuickInfoData.Date = null
	}

	CardData.QuickInfoData.Awards = null
}

if (CardData.QuickInfoData )
{
	CardData.QuickInfoData.HideSkillTitle = true
}


%>


<% if (CardData.Link) { %>
<a class="card glass neonOutline reveal" href="<%= CardData.Link %>" <% if (CardData.OpenInNewTab) { %> target="_blank" <% }%> >
<% }else{%>
<a class="card glass reveal">
<% }%>

	<% if (CardData.Thumbnail) { %>
	<div class="cardImage">
		<%- include('Picture', {ImgData: {
			Path:CardData.Thumbnail,
			ClassList: "",
			Alt: CardData.Title,
			Sizes: "350px"
		}}); %>
		<% if (CardData.QuickInfoData) { %>
			<%- include('QuickInfo', {
				QuickInfoData: CardData.QuickInfoData,
				PageData: PageData
			}); %>
		<% }%>

	</div>
	<h3><%= CardData.Title %></h3>
	<p><%= CardData.Body %></p>

	<% }else{%>

		<h3><%= CardData.Title %></h3>
		<p><%= CardData.Body %></p>
		<% if (CardData.QuickInfoData) { %>
			<%- include('QuickInfo', {
				QuickInfoData: CardData.QuickInfoData,
				PageData: PageData
			}); %>
		<% }%>

	<% }%>



	<% if (CardData.Link) { %>
	<h4 class="bottom"><u>More Info</u></h4>
	<% }%>
</a>