<script src="<%= PageData.PathToRoot %>Public/js/TagFilter.js"></script>
<script>
	var tagFilter = null;
	window.addEventListener('load', function () {
		tagFilter = new TagFilter("<%=FilterData.HolderId%>", <%- JSON.stringify(FilterData.Tags) %>)
	});
</script>

<div class="center FilterOptions glass frosted" id="<%=FilterData.HolderId%>-Options">
	<h4>Filters:</h4>
<%for (const tag in FilterData.Tags)
{
	let icon = PageData.Icons[tag];
	%>
	<button class="filterButton scaleOnFocus" tag="<%=tag%>" onclick="tagFilter.ToggleTag('<%=tag%>')">

		<div class="filterButtonIcons">
			<span class="material-icons">thumb_up</span>
			<span class="material-icons">filter_alt_off</span>
			<span class="material-icons">thumb_down</span>
		</div>

		<%if (icon) {%>
			<%- include('Picture', {ImgData: {
				Path:PageData.PathToRoot + icon.IconPath,
				ClassList: "icon " + icon.ClassList,
				Alt: icon.Label + " Logo",
				IsSvg: true
			}}); %>
		<%}%>


		<h5><%=tag%></h5>
	</button>
<%}%>
</div>