<div class="quickInfoHolder delayRevealChildren center">

	<% if (QuickInfoData.TimeSpent) { %>
		<!-- time spent -->
		<div class="quickInfo">
			<i class="material-icons">schedule</i>
			<h5><%= QuickInfoData.TimeSpent %></h5>
		</div>
	<% }%>

	<% if (QuickInfoData.StartDate) { %>
		<!-- time spent -->
		<div class="quickInfo">
			<i class="material-icons">date_range</i>
			<h5><%= QuickInfoData.StartDate %></h5>
		</div>
	<% }%>

	<% if (QuickInfoData.NumPeople) { %>
		<!-- number of people -->
		<% if (QuickInfoData.NumPeople == 1) { %>
			<div class="quickInfo">
				<i class="material-icons">person</i>
				<h5>Solo</h5>
			</div>
		<% }else if (QuickInfoData.NumPeople == 2){ %>
			<div class="quickInfo">
				<i class="material-icons">people</i>
				<h5>2</h5>
			</div>
		<% }else { %>
			<div class="quickInfo">
				<i class="material-icons">groups</i>
				<h5><%= QuickInfoData.NumPeople %></h5>
			</div>
		<% }%>
	<% }%>

	<% if (QuickInfoData.Awards) { %>
		<!-- number of people -->
		<% if (QuickInfoData.Awards == 1) { %>
			<div class="quickInfo">
				<i class="material-icons">workspace_premium</i>
				<h5>Award Winning</h5>
			</div>
		<% }else if (QuickInfoData.Awards > 1){ %>
			<div class="quickInfo">
				<i class="material-icons">workspace_premium</i>
				<h5>Multi Award Winning</h5>
			</div>
		<% }else { %>
			<div class="quickInfo">
				<i class="material-icons">workspace_premium</i>
				<h5><%= QuickInfoData.Awards %></h5>
			</div>
		<% }%>
	<% }%>
</div>



<% if (QuickInfoData.Links) { %>

<div class="quickLinkHolder delayRevealChildren center">

	<!-- where to play/see it -->
	<% if (QuickInfoData.Links.GithubLink && PageData.SiteConfig.ContactLinks.GitHub) { %>
		<form action="<%= QuickInfoData.Links.GithubLink %>" target="_blank" class="quickInfo sheen">
			<button>
				<%- include('Picture', {ImgData: {
					Path:"Public/Assets/Icons/github",
					ClassList: "icon greyScale",
					Alt: "Github Logo",
					IsSvg: true
				}}); %>
				<h5>Code</h5>
			</button>
		</form>
	<% }%>
	<% if (QuickInfoData.Links.ItchLink && PageData.SiteConfig.ContactLinks.ItchIo) { %>
		<form action="<%= QuickInfoData.Links.ItchLink %>" target="_blank" class="quickInfo sheen">
			<button>
				<%- include('Picture', {ImgData: {
					Path:"Public/Assets/Icons/itch-dot-io",
					ClassList: "icon greyScale",
					Alt: "Itch Logo",
					IsSvg: true
				}}); %>
				<h5>Play</h5>
			</button>
		</form>
	<% }%>
	<% if (QuickInfoData.Links.WebsiteLink) { %>
		<form action="<%= QuickInfoData.Links.WebsiteLink %>" target="_blank" class="quickInfo sheen">
			<button>
				<%- include('Picture', {ImgData: {
					Path:"Public/Assets/Icons/website",
					ClassList: "icon greyScale",
					Alt: "Website Icon",
					IsSvg: true
				}}); %>
				<h5>Website</h5>
			</button>
		</form>
	<% }%>
	<% if (QuickInfoData.Links.InstagramLink && PageData.SiteConfig.ContactLinks.Instagram) { %>
		<form action="<%= QuickInfoData.Links.InstagramLink %>" target="_blank" class="quickInfo sheen">
			<button>
				<%- include('Picture', {ImgData: {
					Path:"Public/Assets/Icons/Instagram",
					ClassList: "icon greyScale",
					Alt: "Instagram Logo",
					IsSvg: true
				}}); %>
				<h5>Instagram</h5>
			</button>
		</form>
	<% }%>
	<% if (QuickInfoData.Links.GooglePlayLink) { %>
		<a href="<%= QuickInfoData.Links.GooglePlayLink %>" target="_blank" class="quickInfo sheen noUnderLine">
			<%- include('Picture', {ImgData: {
				Path:"Public/Assets/Icons/GooglePlayStore",
				ClassList: "icon greyScale",
				Alt: "Google Play Store Logo",
				IsSvg: true
			}}); %>
			<h5>Google Play</h5>
		</a>
	<% }%>
	<% if (QuickInfoData.Links.AppleArcadeLink) { %>
		<form action="<%= QuickInfoData.Links.AppleArcadeLink %>" target="_blank" class="quickInfo sheen">
			<button>
				<%- include('Picture', {ImgData: {
					Path:"Public/Assets/Icons/Apple",
					ClassList: "icon greyScale",
					Alt: "Apple Logo",
					IsSvg: true
				}}); %>
				<h5>Apple Arcade</h5>
			</button>
		</form>
	<% }%>
	<% if (QuickInfoData.Links.AppStoreLink) { %>
		<form action="<%= QuickInfoData.Links.AppStoreLink %>" target="_blank" class="quickInfo sheen">
			<button>
				<%- include('Picture', {ImgData: {
					Path:"Public/Assets/Icons/Apple",
					ClassList: "icon greyScale",
					Alt: "Apple Logo",
					IsSvg: true
				}}); %>
				<h5>App Store</h5>
			</button>
		</form>
	<% }%>
</div>
<% }%>


<% if (QuickInfoData.Skills) { %>
<!-- skills used -->
<div class="quickSkills">

	<% if (!QuickInfoData.HideSkillTitle && QuickInfoData.Skills.length > 0) { %>
		<h4 class="center reveal fromLeft">Skills Used:</h4>
	<% }%>

	<div class="quickInfoHolder delayRevealChildren center">

		<%
			for (let i = 0; i < QuickInfoData.Skills.length; i++)
			{
				let skillKey = QuickInfoData.Skills[i]
				let icon = PageData.Icons[skillKey];
				%>

				<div class="quickInfo reveal fromLeft">

					<%- include('Picture', {ImgData: {
						Path:icon.IconPath,
						ClassList: "icon " + icon.ClassList,
						Alt: icon.Label + " Logo",
						IsSvg: true
					}}); %>

					<h5><%=icon.Label%></h5>
				</div>

			<%}
		%>
	</div>
</div>
<% }%>