<!DOCTYPE html>
<html lang="en">

<!-- Metadata about the page itself for search engines -->
<head>
	<!-- shared common Head Logic -->
	<%- include(PageData.PathToRoot+'Components/Head', {
		PageData: PageData,
		ProjectData: ProjectData
	}); %>

	<!-- extra links if needed -->
</head>


<body class="dark">

	<!-- Shared common loader -->
	<%- include(PageData.PathToRoot+'Components/Loader'); %>
	<div class="content background">
		<!-- shared common header -->
		<%- include(PageData.PathToRoot+'Components/AccessibilityHelper'); %>

		<!-- shared common header -->
		<%- include(PageData.PathToRoot+'Components/Header'); %>

		<div class="centeredFrame">
			<h1 class="center center reveal fromBottom">Business Consulting</h1>

			<%- include(PageData.PathToRoot+'Components/QuickInfo', {QuickInfoData: ProjectData}); %>

			<p class="center reveal fromBottom">
				During my last year of university I worked part time as a business consultant for a number of small businesses.
				With a focus on enabling them to scale their business and increase their online presence.
				I helped them with a number of tasks including:
			</p>

			<ul class="center">
				<li class="left reveal fromLeft"> <abbr title="Search Engine Optimization">SEO</abbr> </li>
				<li class="left reveal fromLeft"> Integrating payment processing </li>
				<li class="left reveal fromLeft"> Marketing </li>
				<li class="left reveal fromLeft"> Process Automation </li>
				<li class="left reveal fromLeft"> Setup Stock Managment Systems </li>
				<li class="left reveal fromLeft"> Creating Models To predict seasonal stock requirements </li>
				<li class="left reveal fromLeft"> IT Support </li>
			</ul>

			<p class="center reveal fromBottom">
				These tasks were a great way to apply my skills to real world problems and help small businesses grow.
				They also helped me develop my communication skills and learn how to explain technical concepts to non-technical people.
			</p>


		</div>

		<!-- Shared common footer -->
		<%- include(PageData.PathToRoot+'Components/Footer'); %>
	</div>
</body>
</html>