<!doctype html>
<html lang="en">

<head>
	<!-- shared common Head Logic -->
	<%- include(PageData.PathToRoot+'Components/Head', {
		PageData: PageData,
		ProjectData: ProjectData
	}); %>

	<!-- extra links if needed -->
	<link rel="stylesheet" type="text/css" href="Public/css/Optinal/CardHolder.css">
</head>

<body class="dark">

	<!-- Shared common loader -->
	<%- include(PageData.PathToRoot+'Components/Loader'); %>
	<div class="content hide">
		<!-- shared common header -->
		<%- include(PageData.PathToRoot+'Components/AccessibilityHelper'); %>

		<div class="cover parallaxHolder">
			<div class="parallaxObj">
				<%- include(PageData.PathToRoot+'Components/Picture', {ImgData: {
					Path:"Public/Assets/IndexCover/output",
					ClassList: "",
					Alt:"Cover photo",
					LoadingType: "eager"
				}}); %>
			</div>
			<div class="coverOverlay glass">
				<h1 id="cover_name" class=" reveal fromLeft" >Louie <wbr> Jones&#8209;Strong</h1>
				<h3 id="cover_title" class=" reveal fromLeft shaded rounded" >Creative Programmer</h3>
			</div>
		</div>

		<div class="background">
			<!-- shared common header -->
			<%- include(PageData.PathToRoot+'Components/Header'); %>

			<hr class="gap">
			<hr class="gap">

			<div class="">
				<h1 class="center reveal fromBottom">Who Am I?</h1>
				<p class="center reveal fromBottom">I am a <a href="https://goo.gl/maps/uww4cWv48GgdQC719" target="_blank">Brighton, England</a> based, hard working, creative, programmer with a passion for learning and problem solving.</p>
				<p class="center reveal fromBottom">I am a Student at the University of London studying machine learning. (<a href="/Education/Degree/">More Info</a>)
				</p>

				<h3 class="center reveal fromBottom">My Skills:</h3>

				<div class="centeredFrame">
					<%- include(PageData.PathToRoot+'Components/QuickInfo', {
						PageData:PageData,
						QuickInfoData: {
							"HideSkillTitle": true,
							Skills: ProjectData.Skills
						}
					}); %>
				</Div>


				<hr class="gap">
				<!-- work -->
				<h2 id="Work" class="center reveal fromBottom">Work:</h2>
				<div class="cardHolder">
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["LSWB"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["EnglishTutor"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["MathsTutor"]}}); %>

				</div>

				<hr class="gap">
				<!-- Personal Projects -->
				<h2 id="PersonalProjects" class="center reveal fromBottom">Personal Projects:</h2>
				<p class="center reveal fromBottom">
					I enjoy pushing myself to learn new skills and technologies, these are some of my personal projects that I developed in my spare time.
					Each project was focused on challenging me in different ways and learning new skills, technologies and techniques.
				</p>

				<div class="cardHolder">
					<%
					for (const projectKey of ProjectData.SubProjects)
					{
						const project = PageData.Projects[projectKey];%>
						<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: project}}); %>
					<%}
					%>
				</div>

				<hr class="gap">
				<!-- Game Jams -->
				<h2 id="PersonalProjects" class="center reveal fromBottom">Game Jams:</h2>
				<p class="center reveal fromBottom">
					As well as my personal projects, I also enjoy participating in game jams, as further opportunities to challenge myself in a creative way.
					Working in a team under a time limit is a great way to learn new techniques to new problems.
				</p>
				<div class="cardHolder">
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["MonsterMash"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["looking-for-eden"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["RougeClicker"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["DrPlantenstein"]}}); %>
				</div>
			</div>


			<!-- Shared common footer -->
			<%- include(PageData.PathToRoot+'Components/Footer'); %>
		</div>


		<%- include(PageData.PathToRoot+'Components/VanillaTilt', {PageData: PageData, TiltData: {}}); %>
	</div>

</body>
</html>