<!doctype html>
<html lang="en">

<head>
	<!-- shared common Head Logic -->
	<%- include('Components/Head', {
		PageData: PageData,
		ProjectData: ProjectData
	}); %>

	<!-- extra links if needed -->
	<link rel="stylesheet" type="text/css" href="Public/css/Optinal/CardHolder.css">
</head>

<body class="dark">

	<!-- Shared common loader -->
	<%- include('Components/Loader'); %>
	<div class="content hide">
		<!-- shared common header -->
		<%- include('Components/AccessibilityHelper'); %>

		<div class="cover parallaxHolder">
			<div class="parallaxObj">
				<%- include('Components/Picture', {ImgData: {
					Path:"Public/Assets/IndexCover/output",
					ClassList: "",
					Alt:"Cover photo",
					LoadingType: "eager"
				}}); %>
			</div>
			<div class="coverOverlay glass">
				<h1 id="cover_name" class=" reveal fromLeft" >Louie <wbr> Jones&#8209;Strong</h1>
				<h3 id="cover_title" class=" reveal fromLeft shaded rounded" >Creative Programmer</h3>
			</div>
		</div>

		<div class="background">
			<!-- shared common header -->
			<%- include('Components/Header'); %>

			<hr class="gap">
			<hr class="gap">

			<div class="">
				<h1 class="center reveal fromBottom">Who Am I?</h1>
				<p class="center reveal fromBottom">I am a <a href="https://goo.gl/maps/uww4cWv48GgdQC719" target="_blank">Brighton, England</a> based, hard working, creative, programmer with a passion for developing tools, games and machine learning.</p>
				<p class="center reveal fromBottom">I am a Student at Goldsmiths, University of London studying machine learning. (<a href="/Degree/">More Info</a>)
				</p>

				<h3 class="center reveal fromBottom">My Skills:</h3>

				<div class="centeredFrame">
					<%- include('Components/QuickInfo', {
						PageData:PageData,
						QuickInfoData: {
							"HideSkillTitle": true,
							Skills: ProjectData.Skills
						}
					}); %>
				</Div>


				<!-- work -->
				<h2 id="Work" class="center reveal fromBottom">Work:</h2>
				<div class="cardHolder">
					<%- include('Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["LSWB"]}}); %>
					<%- include('Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["EnglishTutor"]}}); %>
					<%- include('Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["MathsTutor"]}}); %>
					<%- include('Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["BusinessConsulting"]}}); %>

				</div>

				<!-- Personal Projects -->
				<h2 id="PersonalProjects" class="center reveal fromBottom">Personal Projects:</h2>
				<div class="cardHolder">


					<%
					for (const projectKey of ProjectData.SubProjects)
					{
						const project = PageData.Projects[projectKey];%>
						<%- include('Components/Card', {PageData:PageData, CardData: {ProjectData: project}}); %>
					<%}
					%>

				</div>
			</div>


			<!-- Shared common footer -->
			<%- include('Components/Footer'); %>
		</div>


		<script src="Public/js/vanilla-tilt.min.js"></script>
		<script>
			VanillaTilt.init(document.querySelectorAll(".card"), {
				max: 10,
				speed: 1000,
				glare: true,
				"max-glare": 0.3,
				reverse: true,
				scale: 1.1,
			});
		</script>
	</div>

</body>
</html>