<!DOCTYPE html>
<html lang="en">

<!-- Metadata about the page itself for search engines -->
<head>
	<!-- shared common Head Logic -->
	<%- include(PageData.PathToRoot+'Components/Head', {
		PageData: PageData,
		ProjectData: ProjectData
	}); %>

	<!-- extra links if needed -->
	<link rel="stylesheet" type="text/css" href="<%=PageData.PathToRoot%>Public/css/Optinal/Timeline.css">
</head>


<body class="dark">

	<!-- Shared common loader -->
	<%- include(PageData.PathToRoot+'Components/Loader'); %>
	<div class="content background">
		<!-- shared common header -->
		<%- include(PageData.PathToRoot+'Components/AccessibilityHelper'); %>

		<!-- shared common header -->
		<%- include(PageData.PathToRoot+'Components/Header'); %>

		<hr class="gap">
		<hr class="gap">

		<%- include(PageData.PathToRoot+'Components/Timeline', {PageData: PageData, TimelineData: { Projects: ["BlenderProjects", "LSWB", "Degree"]}}); %>

		<!-- Shared common footer -->
		<%- include(PageData.PathToRoot+'Components/Footer'); %>
		<%- include(PageData.PathToRoot+'Components/VanillaTilt', {PageData: PageData, TiltData: {GlareOverride:false, ScaleOverride:1.5}}); %>
	</div>
</body>
</html>