<!doctype html>
<html lang="en">

<head>
	<!-- shared common Head Logic -->
	<%- include(PageData.PathToRoot+'Components/Head', {
		PageData: PageData,
		ProjectData: ProjectData
	}); %>

	<!-- extra links if needed -->
	<link rel="stylesheet" type="text/css" href="<%=PageData.PathToRoot%>Public/css/Optinal/Carousel.css">
	<link rel="stylesheet" type="text/css" href="<%=PageData.PathToRoot%>Public/css/Optinal/Gallery.css">
</head>

<body class="dark">

	<!-- Shared common loader -->
	<%- include(PageData.PathToRoot+'Components/Loader'); %>
	<div class="content">
		<!-- shared common header -->
		<%- include(PageData.PathToRoot+'Components/AccessibilityHelper'); %>
		<div class="background">
			<!-- shared common header -->
			<%- include(PageData.PathToRoot+'Components/Header'); %>

			<!-- cover image slide show -->
			<div class="slide-holder">
				<div class="slide">
					<%- include(PageData.PathToRoot+'Components/Picture', {ImgData: {
						Path:"../../Public/Assets/cards/landscape/card1",
						ClassList: "",
						Alt:"First Landscape Render",
						LoadingType: "eager"
					}}); %>
				</div>
			</div>
			<script src="<%=PageData.PathToRoot%>Public/js/Carousel.js"></script>

			<div class="centeredFrame">
				<h1 class="center reveal fromBottom">Landscape Cards</h1>


				<div class="gallery glass reveal">
					<div class="glass reveal">
						<%- include(PageData.PathToRoot+'Components/Picture', {ImgData: {
							Path:"../../Public/Assets/cards/landscape/card1",
							ClassList: "expandable",
							Alt:"The first landscape card"
						}}); %>
					</div>
				</div>


				<hr class="gap">
				<hr class="gap">
				<a href="/"><h3 class="center reveal fromBottom">Check Out My Portfolio</h3></a>

			</div>




			<!-- Shared common footer -->
			<%- include(PageData.PathToRoot+'Components/Footer'); %>
			<%- include(PageData.PathToRoot+'Components/Expandable'); %>
		</div>
	</div>
</body>
</html>