<footer class="glass noBorder">
	<link rel="stylesheet" type="text/css" href="<%= PageData.PathToRoot %>Public/StyleSheets/CommonStyles/FooterStyle.css">

	<h2 class="reveal fromTop center">Find Me On:</h2>

	<div class="delayRevealChildren slow center ContactLinkHolder">
		<a class="reveal" href="https://www.linkedin.com/in/louie-jones-strong" target="_blank">
			<img class="brandLogo glass neonOutline" src="<%= PageData.PathToRoot %>Public/Assets/Icons/linkedin-flat.svg" alt="Linkedin Logo">
		</a>
		<a class="reveal" href="https://louie-js.itch.io/" target="_blank">
			<img class="brandLogo glass neonOutline" src="<%= PageData.PathToRoot %>Public/Assets/Icons/itch-dot-io.svg" alt="Itch Logo">
		</a>
		<a class="reveal" href="https://github.com/louie-jones-strong" target="_blank">
			<img class="brandLogo glass neonOutline" src="<%= PageData.PathToRoot %>Public/Assets/Icons/github.svg" alt="Github Logo">
		</a>
		<a class="reveal" href="https://www.instagram.com/louie_j.s/" target="_blank">
			<img class="brandLogo glass neonOutline" src="<%= PageData.PathToRoot %>Public/Assets/Icons/Instagram.svg" alt="Instagram Logo">
		</a>
	</div>

	<div class="reveal fromRight center">
		<label for = "email">Email:</label>
		<a href="mailto:louiej-s@hotmail.co.uk" id="email">louiej-s@hotmail.co.uk</a>
	</div>

	<p id="copyRight" class="reveal fromLeft left">©2021 Louie Jones-Strong</p>

</footer>
