<div class="quickInfoHolder delayRevealChildren">
	<% if (QuickInfoData.TimeSpent) { %>
		<!-- time spent -->
		<div class="quickInfo">
			<i class="material-icons">schedule</i>
			<h5><%= QuickInfoData.TimeSpent %></h5>
		</div>
	<% }%>
	<% if (QuickInfoData.Date) { %>
		<!-- time spent -->
		<div class="quickInfo">
			<i class="material-icons">date_range</i>
			<h5><%= QuickInfoData.Date %></h5>
		</div>
	<% }%>
	<% if (QuickInfoData.NumPeople) { %>
		<!-- number of people -->
		<% if (QuickInfoData.NumPeople == 1) { %>
			<div class="quickInfo">
				<i class="material-icons">person</i>
				<h5>Solo</h5>
			</div>
		<% }else if (QuickInfoData.NumPeople == 2){ %>
			<div class="quickInfo">
				<i class="material-icons">people</i>
				<h5>2</h5>
			</div>
		<% }else { %>
			<div class="quickInfo">
				<i class="material-icons">groups</i>
				<h5><%= QuickInfoData.NumPeople %></h5>
			</div>
		<% }%>
	<% }%>
	<% if (QuickInfoData.Awards) { %>
		<!-- number of people -->
		<% if (QuickInfoData.Awards == 1) { %>
			<div class="quickInfo">
				<i class="material-icons">workspace_premium</i>
				<h5>Award Winning</h5>
			</div>
		<% }else if (QuickInfoData.Awards > 1){ %>
			<div class="quickInfo">
				<i class="material-icons">workspace_premium</i>
				<h5>Multi Award Winning</h5>
			</div>
		<% }else { %>
			<div class="quickInfo">
				<i class="material-icons">workspace_premium</i>
				<h5><%= QuickInfoData.Awards %></h5>
			</div>
		<% }%>
	<% }%>
	<% if (QuickInfoData.Grade) { %>
		<!-- time spent -->
		<div class="quickInfo">
			<i class="material-icons">grade</i>
			<h5><%= QuickInfoData.Grade %></h5>
		</div>
	<% }%>
</div>
<% if (QuickInfoData.Links) { %>

	<div class="quickLinkHolder delayRevealChildren">

		<!-- where to play/see it -->
		<% if (QuickInfoData.Links.GithubLink) { %>
			<form action="<%= QuickInfoData.Links.GithubLink %>" target="_blank" class="quickInfo sheen">
				<button>
					<img class="icon greyScale" src="<%=PageData.PathToRoot%>Public/Assets/Icons/github.svg" alt="Github Logo">
					<h5>Code</h5>
				</button>
			</form>
		<% }%>
		<% if (QuickInfoData.Links.ItchLink) { %>
			<form action="<%= QuickInfoData.Links.ItchLink %>" target="_blank" class="quickInfo sheen">
				<button>
					<img class="icon greyScale" src="<%=PageData.PathToRoot%>Public/Assets/Icons/itch-dot-io.svg" alt="Itch Logo">
					<h5>Play</h5>
				</button>
			</form>
		<% }%>
		<% if (QuickInfoData.Links.WebsiteLink) { %>
			<form action="<%= QuickInfoData.Links.WebsiteLink %>" target="_blank" class="quickInfo sheen">
				<button>
					<img class="icon greyScale" src="<%=PageData.PathToRoot%>Public/Assets/Icons/website.svg">
					<h5>Website</h5>
				</button>
			</form>
		<% }%>
		<% if (QuickInfoData.Links.InstagramLink) { %>
			<form action="<%= QuickInfoData.Links.InstagramLink %>" target="_blank" class="quickInfo sheen">
				<button>
					<img class="icon greyScale" src="<%=PageData.PathToRoot%>Public/Assets/Icons/Instagram.svg" alt="Instagram Logo">
					<h5>Instagram</h5>
				</button>
			</form>
		<% }%>
		<% if (QuickInfoData.Links.GooglePlayLink) { %>
			<a href="<%= QuickInfoData.Links.GooglePlayLink %>" target="_blank" class="quickInfo sheen noUnderLine">
				<img class="icon" src="<%=PageData.PathToRoot%>Public/Assets/Icons/GooglePlayStore.svg" alt="Google Play Store Logo">
				<h5>Google Play</h5>
			</a>
		<% }%>
		<% if (QuickInfoData.Links.AppleArcadeLink) { %>
			<form action="<%= QuickInfoData.Links.AppleLink %>" target="_blank" class="quickInfo sheen">
				<button>
					<img class="icon greyScale" src="<%=PageData.PathToRoot%>Public/Assets/Icons/Apple.svg" alt="Apple Logo">
					<h5>Apple Arcade</h5>
				</button>
			</form>
		<% }%>
		<% if (QuickInfoData.Links.AppStoreLink) { %>
			<form action="<%= QuickInfoData.Links.AppStoreLink %>" target="_blank" class="quickInfo sheen">
				<button>
					<img class="icon greyScale" src="<%=PageData.PathToRoot%>Public/Assets/Icons/Apple.svg" alt="Apple Logo">
					<h5>App Store</h5>
				</button>
			</form>
		<% }%>
	</div>
<% }%>
<!-- learning Aims -->
<% if (QuickInfoData.Skills) { %>
	<!-- skills used -->
	<div class="quickSkills">
		<% if (!QuickInfoData.Skills.HideTitle) { %>
			<h4 class="center reveal fromLeft">Skills Used:</h4>
		<% }%>
		<div class="quickInfoHolder delayRevealChildren">
			<% if (QuickInfoData.Skills.ShowAll || QuickInfoData.Skills.UsedUnity) { %>
				<div class="quickInfo reveal fromLeft">
					<img class="icon greyScale" src="<%=PageData.PathToRoot%>Public/Assets/Icons/unity.svg" alt="unity Logo">
					<h5>Unity</h5>
				</div>
			<% }%>
			<% if (QuickInfoData.Skills.ShowAll || QuickInfoData.Skills.UsedCsharp) { %>
				<div class="quickInfo reveal fromLeft">
					<img class="icon" src="<%=PageData.PathToRoot%>Public/Assets/Icons/cSharp.svg" alt="C# Logo">
					<h5>C#</h5>
				</div>
			<% }%>
			<% if (QuickInfoData.Skills.ShowAll || QuickInfoData.Skills.UsedCPlusPlus) { %>
				<div class="quickInfo reveal fromLeft">
					<img class="icon" src="<%=PageData.PathToRoot%>Public/Assets/Icons/cpp.svg" alt="C++ Logo">
					<h5>C++</h5>
				</div>
			<% }%>
			<% if (QuickInfoData.Skills.ShowAll || QuickInfoData.Skills.UsedPython) { %>
				<div class="quickInfo reveal fromLeft">
					<img class="icon" src="<%=PageData.PathToRoot%>Public/Assets/Icons/python.svg" alt="python Logo">
					<h5>Python</h5>
				</div>
			<% }%>
			<% if (QuickInfoData.Skills.ShowAll || QuickInfoData.Skills.UsedJavaScript) { %>
				<div class="quickInfo reveal fromLeft">
					<img class="icon" src="<%=PageData.PathToRoot%>Public/Assets/Icons/js.svg" alt="JavaScript Logo">
					<h5>Java Script</h5>
				</div>
			<% }%>
			<% if (QuickInfoData.Skills.ShowAll || QuickInfoData.Skills.UsedBlender) { %>
				<div class="quickInfo reveal fromLeft">
					<img class="icon" src="<%=PageData.PathToRoot%>Public/Assets/Icons/blender.svg" alt="Blender Logo">
					<h5>Blender</h5>
				</div>
			<% }%>
			<% if (QuickInfoData.Skills.ShowAll || QuickInfoData.Skills.UsedSQL) { %>
				<div class="quickInfo reveal fromLeft">
					<img class="icon" src="<%=PageData.PathToRoot%>Public/Assets/Icons/sql.svg" alt="SQL Logo">
					<h5>SQL</h5>
				</div>
			<% }%>
			<% if (QuickInfoData.Skills.ShowAll || QuickInfoData.Skills.UsedDotNet) { %>
				<div class="quickInfo reveal fromLeft">
					<img class="icon" src="<%=PageData.PathToRoot%>Public/Assets/Icons/dotNet.svg" alt=".Net Logo">
					<h5>.Net</h5>
				</div>
			<% }%>
			<% if (QuickInfoData.Skills.ShowAll || QuickInfoData.Skills.UsedHTML) { %>
				<div class="quickInfo reveal fromLeft">
					<img class="icon" src="<%=PageData.PathToRoot%>Public/Assets/Icons/HTML.svg" alt="HTML Logo">
					<h5>HTML</h5>
				</div>
			<% }%>
			<% if (QuickInfoData.Skills.ShowAll || QuickInfoData.Skills.UsedNodejs) { %>
				<div class="quickInfo reveal fromLeft">
					<img class="icon" src="<%=PageData.PathToRoot%>Public/Assets/Icons/nodejs.svg" alt="nodejs Logo">
					<h5>node.JS</h5>
				</div>
			<% }%>
			<% if (QuickInfoData.Skills.ShowAll || QuickInfoData.Skills.UsedCSS) { %>
				<div class="quickInfo reveal fromLeft">
					<img class="icon" src="<%=PageData.PathToRoot%>Public/Assets/Icons/css.svg" alt="CSS Logo">
					<h5>CSS</h5>
				</div>
			<% }%>
			<% if (QuickInfoData.Skills.ShowAll || QuickInfoData.Skills.UsedGit) { %>
				<div class="quickInfo reveal fromLeft">
					<img class="icon" src="<%=PageData.PathToRoot%>Public/Assets/Icons/Git.svg" alt="Git Logo">
					<h5>Git</h5>
				</div>
			<% }%>
			<% if (QuickInfoData.Skills.ShowAll || QuickInfoData.Skills.UsedObjectiveC) { %>
				<div class="quickInfo reveal fromLeft">
					<img class="icon" src="<%=PageData.PathToRoot%>Public/Assets/Icons/Objective-C.svg" alt="Objective C Logo">
					<h5>Objective C</h5>
				</div>
			<% }%>
			<% if (QuickInfoData.Skills.ShowAll || QuickInfoData.Skills.UsedJava) { %>
				<div class="quickInfo reveal fromLeft">
					<img class="icon" src="<%=PageData.PathToRoot%>Public/Assets/Icons/java.svg" alt="Java Logo">
					<h5>Java</h5>
				</div>
			<% }%>
		</div>
	</div>
<% }%>