<!doctype html>
<html lang="en">

<head>
	<!-- shared common Head Logic -->
	<%- include(PageData.PathToRoot+'Components/Head', {
		PageData: PageData,
		ProjectData: ProjectData
	}); %>

	<!-- extra links if needed -->
	<link rel="stylesheet" type="text/css" href="<%=PageData.PathToRoot%>Public/css/Optinal/CardHolder.css">
</head>

<body class="dark">

	<!-- Shared common loader -->
	<%- include(PageData.PathToRoot+'Components/Loader'); %>
	<div class="content">
		<!-- shared common header -->
		<%- include(PageData.PathToRoot+'Components/AccessibilityHelper'); %>
		<div class="background">
			<!-- shared common header -->
			<%- include(PageData.PathToRoot+'Components/Header'); %>

			<hr class="gap">

			<div class="centeredFrame">
				<h1 class="center reveal fromBottom">Natural Language Processing</h1>
				<%- include(PageData.PathToRoot+'Components/QuickInfo', {QuickInfoData: ProjectData}); %>
				<h2 class="center reveal fromBottom">What is Natural Language Processing?</h2>
				<p class="center reveal fromBottom">
					Natural Language Processing (NLP) is a field of Artificial Intelligence that gives the machines the ability to read, understand and derive meaning from human languages. It is the process through which computers understand and manipulate human language to perform tasks.
				</p>

				<h2 class="center reveal fromBottom">My Mid Term Project</h2>
				<p class="center reveal fromBottom">
					For my mid term course work I was tasked with creating a text classifier. I took this opportunity to explore sarcasm detection in multiple text corpora
				</p>
			</div>

			<!-- Shared common footer -->
			<%- include(PageData.PathToRoot+'Components/Footer'); %>
		</div>
		<script src="<%=PageData.PathToRoot%>Public/js/vanilla-tilt.min.js"></script>
		<script>
			VanillaTilt.init(document.querySelectorAll(".card"), {
				max: 10,
				speed: 1000,
				glare: true,
				"max-glare": 0.3,
				reverse: true,
				scale: 1.1,
			});
		</script>
	</div>
</body>
</html>