<!doctype html>
<html lang="en">

<head>
	<!-- shared common Head Logic -->
	<%- include(PageData.PathToRoot+"Components/Head", {
		PageData: PageData,
		ProjectData: ProjectData
	}); %>

		<!-- extra links if needed -->
		<link rel="stylesheet" type="text/css" href="<%=PageData.PathToRoot%>Public/css/Optional/CardHolder.css">
</head>

<body class="dark">

	<!-- Shared common loader -->
	<%- include(PageData.PathToRoot+"Components/Loader"); %>
		<div class="content">
			<!-- shared common header -->
			<%- include(PageData.PathToRoot+"Components/AccessibilityHelper"); %>
				<div class="background">
					<!-- shared common header -->
					<%- include(PageData.PathToRoot+"Components/Header"); %>

						<hr class="gap">

						<div class="centeredFrame">
				<h1 class="center reveal fromBottom"><%=ProjectData.Title %></h1>
							<h3 class="center reveal fromBottom">
								Bachelor of Science in<br>
								Machine Learning and Artificial Intelligence
							</h3>
				<h4 class="center reveal fromBottom">From the <a href="https://www.london.ac.uk/" target="_blank">University of London</a></h4>

							<%- include(PageData.PathToRoot+'Components/QuickInfo', {QuickInfoData: ProjectData}); %>

								<!-- 3rd year -->
								<h2 class="center reveal Bottom">Year 3:</h2>
				<%- include(PageData.PathToRoot+"Components/QuickInfo", {QuickInfoData: {Awards: "First Class", StartDate: "October 2022"}}); %>
									<p class="center reveal fromBottom">
					For my final year of university I stopped working to allow me to spend my full time on my degree to help maintain a healthy life balance.</p>
									<div class="cardHolder">
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["DatabasesAndAdvancedDataTechniques"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["MachineLearningAndNeuralNetworks"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["ArtificialIntelligence"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["IntelligentSignalProcessing"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["NaturalLanguageProcessing"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["DataScience"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["FinalProject"]}}); %>
									</div>

									<!-- second year -->
									<h2 class="center reveal Bottom">Year 2:</h2>
				<%- include(PageData.PathToRoot+"Components/QuickInfo", {QuickInfoData: {Awards: "First Class", StartDate: "October 2021"}}); %>
				<p class="center reveal fromBottom">During my second year of university I continued to work at the same time,
					but went to part time at <a href="<%=PageData.PathToRoot%>LSWB.html">TT Odyssey</a> (working 3 days a week).
											This was to help maintain a healthy work, studies and life balance.</p>
										<div class="cardHolder">
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["ObjectOrientedProgramming"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["SoftwareDesignAndDevelopment"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["AgileSoftwareProjects"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["DatabasesNetworksAndTheWeb"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["ProgrammingWithData"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["ComputerSecurity"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["GraphicsProgramming"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["AlgorithmsAndDataStructures2"]}}); %>
										</div>

										<!-- First year -->
										<h2 class="center reveal Bottom">Year 1:</h2>
				<%- include(PageData.PathToRoot+"Components/QuickInfo", {QuickInfoData: {Awards: "First Class", StartDate: "October 2020"}}); %>
				<p class="center reveal fromBottom">During my first year of university I continued to also work full time at <a href="<%=PageData.PathToRoot%>LSWB.html">TT Odyssey</a>.</p>
											<div class="cardHolder">
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["IntroToProgramming1"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["DiscreteMaths"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["FundamentalsOfComputerScience"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["HowComputersWork"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["IntroToProgramming2"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["ComputationalMaths"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["AlgorithmsAndDataStructures1"]}}); %>
					<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: PageData.Projects["WebDevelopment"]}}); %>
											</div>
						</div>

						<!-- Shared common footer -->
						<%- include(PageData.PathToRoot+"Components/Footer"); %>
				</div>

				<%- include(PageData.PathToRoot+'Components/VanillaTilt', {PageData: PageData, TiltData: {}}); %>
		</div>
</body>
</html>