<!doctype html>
<html lang="en">

<head>
	<!-- shared common Head Logic -->
	<%- include('../Components/Head', {
		PageData: PageData,
		HeadData: {
			Title: "Louie J-S: Degree",
			Description: "Louie Jones-Strong's portfolio. BSc Computer Science (Machine Learning and Artificial Intelligence)",
			Url: "https://louie-jones-strong.github.io/Degree",
			Thumbnail: "https://louie-jones-strong.github.io/Public/Assets/PortfolioProject/Thumbnail.png",
		}
	}); %>

	<!-- extra links if needed -->
	<link rel="stylesheet" type="text/css" href="<%=PageData.PathToRoot%>Public/StyleSheets/OptinalComponents/CardHolder.css">
</head>

<body class="dark">

	<div class="content">
		<!-- shared common header -->
		<%- include('../Components/AccessibilityHelper'); %>
		<div class="background">
			<!-- shared common header -->
			<%- include('../Components/Header'); %>

			<hr class="gap">

			<div class="centeredFrame">
				<h1 class="center reveal fromBottom">Degree</h1>
				<h3 class="center reveal fromBottom">BSc Computer Science <br> (Machine Learning and Artificial Intelligence)</h3>
				<%- include('../Components/QuickInfo', {
					QuickInfoData: {
						Grade: "On Track for: First Class",
						Date: "October 2020 - 2023",
						TimeSpent: "3 Years",
						Skills: {
							UsedSQL: true,
							UsedPython: true,
							UsedGit: true,
							UsedHTML: true,
							UsedCSS: true,
							UsedNodejs: true,
							UsedJavaScript: true,
							UsedCPlusPlus: true
						}
					},
				}); %>
				<p class="center reveal fromBottom"></p>

				<!-- First year -->
				<h2 class="center reveal Bottom">Year 1:</h2>
				<%- include('../Components/QuickInfo', {
					QuickInfoData: {
						Grade: "First Class",
						Date: "October 2020"
					}
				}); %>
				<p class="center reveal fromBottom">During my first year of university I continued to also work full time at
					<a href="LSWB.html">TT Odyssey</a>.</p>

				<div class="cardHolder">
					<!-- first term -->
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Introduction to Programming I",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "First Class",
							}
						}
					}); %>
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Discrete Mathematics",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "First Class",
							}
						}
					}); %>
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Fundamentals of Computer Science",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "First Class",
							}
						}
					}); %>
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "How Computers Work",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "Second class honours",
							}
						}
					}); %>
					<!-- second term -->
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Introduction to Programming II",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "First Class",
							}
						}
					}); %>
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Computational Mathematics",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "First Class",
							}
						}
					}); %>
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Algorithms and Data Structures I",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "First Class",
							}
						}
					}); %>
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Web Development",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "First Class",
							}
						}
					}); %>
				</div>

				<!-- second year -->
				<h2 class="center reveal Bottom">Year 2:</h2>
				<%- include('../Components/QuickInfo', {
					QuickInfoData: {
						Grade: "On Track for: First Class",
						Date: "October 2021"
					}
				}); %>
				<p class="center reveal fromBottom">During my second year of university I continued to work at the same time,
					but went to part time at
					<a href="LSWB.html">TT Odyssey</a> (working 3 days a week).
					This was to help maintain a healthy work, uni and life balance.</p>
				<div class="cardHolder">
					<!-- first term -->
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Object Oriented Programming",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "First Class",
							}
						}
					}); %>
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Software Design and Development",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "First Class",
							}
						}
					}); %>
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Agile Software Projects",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "First Class",
							}
						}
					}); %>
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Databases, Networks and the Web",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "First Class",
							}
						}
					}); %>
					<!-- second term -->
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Programming with Data",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "TBD",
							}
						}
					}); %>
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Computer Security",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "TBD",
							}
						}
					}); %>
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Graphics Programming",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "TBD",
							}
						}
					}); %>
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Algorithms and Data Structures II",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "TBD",
							}
						}
					}); %>
				</div>

				<!-- 3rd year -->
				<h2 class="center reveal Bottom">Year 3:</h2>
				<%- include('../Components/QuickInfo', {
					QuickInfoData: {
						<!-- Grade: "On Track for: First Class", -->
						Date: "October 2022"
					}
				}); %>
				<p class="center reveal fromBottom">For my final year of university I stopped working to allow me to
					spend my full time on my degree to help maintain a healthy life balance.</p>
				<div class="cardHolder">
					<!-- first term -->
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Databases and Advanced Data Techniques",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "TBD",
							}
						}
					}); %>
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Machine Learning and Neural Networks",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "TBD",
							}
						}
					}); %>
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Artificial Intelligence",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "TBD",
							}
						}
					}); %>
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Intelligent Signal Processing",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "TBD",
							}
						}
					}); %>
					<!-- second term -->
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Natural Language Processing",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "TBD",
							}
						}
					}); %>
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Advanced Web Development",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "TBD",
							}
						}
					}); %>
				</div>

				<div class="cardHolder">
					<%- include('../Components/Card', {
						CardData: {
							OpenInNewTab: false,
							Link: "",
							Title: "Final",
							Body: "",
							Thumbnail: "",
							QuickInfoData: {
								Grade: "TBD",
							}
						}
					}); %>
				</div>
			</div>

			<!-- Shared common footer -->
			<%- include('../Components/Footer'); %>
		</div>

		<script src="<%=PageData.PathToRoot%>Public/JavaScript/AnimateOnAppear.js"></script>
		<script src="<%=PageData.PathToRoot%>Public/JavaScript/vanilla-tilt.js"></script>
		<script>
			VanillaTilt.init(document.querySelectorAll(".card"), {
				max: 10,
				speed: 1000,
				glare: true,
				"max-glare": 0.3,
				reverse: true,
				scale: 1.1,
			});
		</script>
	</div>

	<!-- Shared common loader -->
	<%- include('../Components/Loader'); %>
</body>
</html>