<!DOCTYPE html>
<html lang="en">

<!-- Metadata about the page itself for search engines -->
<head>
	<!-- shared common Head Logic -->
	<%- include('Components/Head', {
		PageData: PageData,
		HeadData: {
			Title: "Louie J-S: English Tutor",
			Description: "Louie Jones-Strong's portfolio.",
			Url: "https://louie-jones-strong.github.io/EnglishTutor.html",
			Thumbnail: "https://louie-jones-strong.github.io/Public/Assets/EnglishTutor/Thumbnail",
		}
	}); %>

	<!-- extra links if needed -->
</head>


<body class="dark">

	<!-- Shared common loader -->
	<%- include('Components/Loader'); %>
	<div class="content background">
		<!-- shared common header -->
		<%- include('Components/AccessibilityHelper'); %>

		<!-- shared common header -->
		<%- include('Components/Header'); %>



		<div class="centeredFrame">
			<h1 class="center center reveal fromBottom">English Tutor</h1>

			<%- include('Components/QuickInfo', {
				QuickInfoData: {
					Date: "April 2018 - September 2019",
				}
			}); %>

			<p class="center reveal fromBottom">During my time working at <a href="LSWB.html">TT Odyssey</a> I spent my evenings after work as a tutor for arabic students from the local english schools in Brighton.</p>

			<p class="center reveal fromBottom">My main focus was to help students to pass the <a href="https://www.ielts.org/" target="_blank">IELTS</a> speaking exam</p>

		</div>

		<!-- Shared common footer -->
		<%- include('Components/Footer'); %>

		<script src="Public/JavaScript/AnimateOnAppear.js"></script>
	</div>
</body>
</html>