<!doctype html>
<html lang="en">

<head>
	<!-- shared common Head Logic -->
	<%- include('Components/Head', {
		PageData: PageData,
		HeadData: {
			Title: "Louie Jones-Strong",
			Description: "Louie Jones-Strong's portfolio. I am a Brighton based hard working, creative, programmer. I work full time as a programmer at TT Odyssey and full time as machine learning student",
			Url: "https://louie-jones-strong.github.io/",
			Thumbnail: "https://louie-jones-strong.github.io/Public/Assets/PortfolioProject/Thumbnail",
		}
	}); %>

	<!-- extra links if needed -->
	<link rel="stylesheet" type="text/css" href="Public/css/Optinal/CardHolder.css">
</head>

<body class="dark">

	<!-- Shared common loader -->
	<%- include('Components/Loader'); %>
	<div class="content hide">
		<!-- shared common header -->
		<%- include('Components/AccessibilityHelper'); %>

		<div class="cover parallaxHolder">
			<div class="parallaxObj">
				<%- include('Components/Picture', {ImgData: {
					Path:"Public/Assets/IndexCover/output",
					ClassList: "",
					Alt:"Cover photo",
					LoadingType: "eager"
				}}); %>
			</div>
			<div class="coverOverlay glass">
				<h1 id="cover_name" class=" reveal fromLeft" >Louie <wbr> Jones&#8209;Strong</h1>
				<h3 id="cover_title" class=" reveal fromLeft shaded rounded" >Creative Programmer</h3>
			</div>
		</div>

		<div class="background">
			<!-- shared common header -->
			<%- include('Components/Header'); %>

			<hr class="gap">
			<hr class="gap">

			<div class="">
				<h1 class="center reveal fromBottom">Who Am I?</h1>
				<p class="center reveal fromBottom">I am a <a href="https://goo.gl/maps/uww4cWv48GgdQC719" target="_blank">Brighton, England</a> based, hard working, creative, programmer with a passion for developing tools, games and machine learning.</p>
				<p class="center reveal fromBottom">I am a Student at Goldsmiths, University of London studying machine learning. (<a href="/Degree/">More Info</a>)
				</p>

				<h3 class="center reveal fromBottom">My Skills:</h3>

				<div class="centeredFrame">
					<%- include('Components/QuickInfo', {
						QuickInfoData: {
							Skills: {
								ShowAll: true,
								HideTitle: true,
							}
						}
					}); %>
				</Div>


				<!-- work -->
				<h2 id="WorkExperience" class="center reveal fromBottom">Work Experience:</h2>
				<div class="cardHolder">

					<%- include('Components/Card', {
						CardData: {
							Link: "LSWB.html",
							Title: "LEGO® Star Wars™ Battles",
							Body: "My time at TT Odyssey working on LEGO® Star Wars™ Battles.",
							Thumbnail: "Public/Assets/LSWB/Thumbnail",
							QuickInfoData: {
								Date: "April 2018 - September 2022",
							<!-- NumPeople: "Avg ~25" -->
								Links: {
									AppleArcadeLink: "https://apps.apple.com/us/app/lego-star-wars-battles/id1563174698"
								}
							}
						}
					}); %>

					<%- include('Components/Card', {
						CardData: {
							Link: "",
							Title: "English Tutor",
							Body: "I spent my evenings after work as a tutor for arabic students to help them pass the IELTS (International English Language Testing System) speaking exam",
							Thumbnail: "Public/Assets/EnglishTutor/thumbnail",
							QuickInfoData: {
								Date: "2018 - 2019",
							}
						}
					}); %>

				</div>

				<!-- Personal Projects -->
				<h2 id="PersonalProjects" class="center reveal fromBottom">Personal Projects:</h2>
				<div class="cardHolder">

					<%- include('Components/Card', {
						CardData: {
							Link: "BlenderProjects.html",
							Title: "24 Hour Blender Challenge",
							Body: "I challenged myself to learn different Blender skills, giving myself only 24 hours for each one.",
							Thumbnail: "Public/Assets/BlenderProjects/Images/blender_6",
							QuickInfoData: {
								TimeSpent: "Day Each",
								NumPeople: 1,
								Links: {
									InstagramLink: "https://www.instagram.com/louie_j.s/"
								}
							}
						}
					}); %>

					<%- include('Components/Card', {
						CardData: {
							Link: "EggHuntProject.html",
							Title: "Office Egg Hunt",
							Body: "A 3D game for my colleagues to play in lockdown, set within my model of our office.",
							Thumbnail: "Public/Assets/EggHuntGame/thumbnail",
							QuickInfoData: {
								TimeSpent: "2 Weeks",
								NumPeople: 1,
								Links: {
									ItchLink: "https://louie-js.itch.io/office-egg-hunt",
									GithubLink: "https://github.com/louie-jones-strong/OfficeGame",
								}
							}
						}
					}); %>

					<%- include('Components/Card', {
						CardData: {
							Link: "EPQProject.html",
							Title: "EPQ",
							Body: "My college EPQ dissertation on multi-technique supervised machine learning",
							Thumbnail: "Public/Assets/EPQ/thumbnail",
							QuickInfoData: {
								TimeSpent: "6 months",
								NumPeople: 1
							}
						}
					}); %>

					<%- include('Components/Card', {
						CardData: {
							Link: "CubePuzzleProject.html",
							Title: "Alhambra 4D Cube Puzzle",
							Body: "My algorithm to discover the solutions to the Alhambra Cube Puzzle.",
							Thumbnail: "Public/Assets/CubePuzzle/Thumbnail",
							QuickInfoData: {
								TimeSpent: "3 Weeks",
								NumPeople: 1
							}
						}
					}); %>

					<%- include('Components/Card', {
						CardData: {
							Link: "Portfolio.html",
							Title: "My Portfolio",
							Body: "How I made this website.",
							Thumbnail: "Public/Assets/PortfolioProject/Thumbnail",
							QuickInfoData: {
								TimeSpent: "Month",
								NumPeople: 1,
								Links: {
									GithubLink: "https://github.com/louie-jones-strong/louie-jones-strong.github.io",
								}
							}
						}
					}); %>

					<%- include('Components/Card', {
						CardData: {
							Link: "Minesweeper.html",
							Title: "Mine Sweeper",
							Body: "To prepare for my University courses I taught myself JS, HTML and CSS.",
							Thumbnail: "Public/Assets/MineSweeper/Thumbnail",
							QuickInfoData: {
								TimeSpent: "1 Week",
								NumPeople: 1,
								Links: {
									GithubLink: "https://github.com/louie-jones-strong/MineSweeper",
									WebsiteLink: "https://louie-jones-strong.github.io/MineSweeper/",
								}
							}
						}
					}); %>

					<%- include('Components/Card', {
						CardData: {
							Link: "CalculatorSolver.html",
							Title: "Calculator: The Game Solver",
							Body: "",
							Thumbnail: "Public/Assets/CalculatorSolver/Thumbnail",
							QuickInfoData: {
								TimeSpent: "2 Months",
								NumPeople: 1,
								Links: {
									GithubLink: "https://github.com/louie-jones-strong/CalculatorGame-Solver"
								}
							}
						}
					}); %>

					<%- include('Components/Card', {
						CardData: {
							Link: "MediaStudio.html",
							Title: "Media Studio",
							Body: "Web based painting tool with features such as: layers, alpha, webcam overlay and project templates.",
							Thumbnail: "Public/Assets/MediaStudio/thumbnail",
							QuickInfoData: {
								TimeSpent: "2 Months",
								NumPeople: 1,
								Links: {
									WebsiteLink: "https://louie-jones-strong.github.io/MediaStudio"
								}
							}
						}
					}); %>

				</div>

				<!-- Game Jam -->
				<h2 id="GameJams" class="center reveal Bottom">Game Jams:</h2>
				<div class="cardHolder">

					<%- include('Components/Card', {
						CardData: {
							OpenInNewTab: true,
							Link: "https://tatltuae.itch.io/monstermash",
							Title: "Monster Mash",
							Body: "",
							Thumbnail: "Public/Assets/MonsterMash/Thumbnail",
							QuickInfoData: {
								TimeSpent: "1 Week",
								NumPeople: 4,
								Links: {
									ItchLink: "https://tatltuae.itch.io/monstermash",
								}
							}
						}
					}); %>

					<%- include('Components/Card', {
						CardData: {
							OpenInNewTab: true,
							Link: "https://tatltuae.itch.io/looking-for-eden",
							Title: "Looking For Eden",
							Body: "",
							Thumbnail: "Public/Assets/LookingForEden/Thumbnail",
							QuickInfoData: {
								TimeSpent: "48 hours",
								NumPeople: 3,
								Links: {
									ItchLink: "https://tatltuae.itch.io/looking-for-eden",
								}
							}
						}
					}); %>

					<%- include('Components/Card', {
						CardData: {
							OpenInNewTab: true,
							Link: "https://louie-js.itch.io/rougeclicker",
							Title: "Rogue Clicker",
							Body: "",
							Thumbnail: "Public/Assets/RogueClicker/Thumbnail",
							QuickInfoData: {
								TimeSpent: "1 Week",
								NumPeople: 1,
								Links: {
									ItchLink: "https://louie-js.itch.io/rougeclicker",
								}
							}
						}
					}); %>
					<%- include('Components/Card', {
						CardData: {
							OpenInNewTab: true,
							Link: "https://louie-js.itch.io/dr-plantenstein",
							Title: "Dr. Plantenstein",
							Body: "",
							Thumbnail: "Public/Assets/Plantenstein/Thumbnail",
							QuickInfoData: {
								TimeSpent: "1 Week",
								NumPeople: 3,
								Links: {
									ItchLink: "https://louie-js.itch.io/dr-plantenstein",
								}
							}
						}
					}); %>
				</div>
			</div>


			<!-- Shared common footer -->
			<%- include('Components/Footer'); %>
		</div>


		<script src="Public/JavaScript/vanilla-tilt.min.js"></script>
		<script>
			VanillaTilt.init(document.querySelectorAll(".card"), {
				max: 10,
				speed: 1000,
				glare: true,
				"max-glare": 0.3,
				reverse: true,
				scale: 1.1,
			});
		</script>
	</div>

</body>
</html>