<!DOCTYPE html>
<html lang="en">

<!-- Metadata about the page itself for search engines -->
<head>
	<!-- shared common Head Logic -->
	<%- include('Components/Head', {
		PageData: PageData,
		HeadData: {
			Title: "Louie J-S: Minesweeper",
			Description: "Louie Jones-Strong's portfolio. My Minesweeper Project to prepare for my University courses, I learnt: JS, HTML and CSS",
			Url: "https://louie-jones-strong.github.io/Minesweeper.html",
			Thumbnail: "https://louie-jones-strong.github.io/Public/Assets/MineSweeper/Thumbnail",
		}
	}); %>
</head>


<body class="dark">

	<div class="content background">

		<!-- shared common header -->
		<%- include('Components/AccessibilityHelper'); %>

		<!-- shared common header -->
		<%- include('Components/Header'); %>

		<iframe src="https://louie-jones-strong.github.io/MineSweeper/Component.html" frameborder="0" style="width: 100%; height: 75vh;">

		</iframe>

		<div class="centeredFrame">
			<h1 class="center reveal fromBottom">Minesweeper</h1>

			<%- include('Components/QuickInfo', {
				QuickInfoData: {
					TimeSpent: "1 Week",
					NumPeople: 1,
					Links: {
						GithubLink: "https://github.com/louie-jones-strong/MineSweeper",
						WebsiteLink: "https://louie-jones-strong.github.io/MineSweeper/",
					},
					Skills: {
						UsedJavaScript: true,
						UsedHTML: true,
						UsedCSS: true,
					}
				}
			}); %>

			<p class="center reveal fromLeft">
				Before I started my University degree I wanted to get ahead of the course to help me maintain a good work, education and life balance. (as I was working full time during my first year of University).
			</p>
			<p class="center reveal fromLeft">
				I knew that a lot of the early modules were going to be tough in JavaScript with some minimal <abbr title="HyperText Markup Language">HTML</abbr> and <abbr title="Cascading Style Sheets">CSS</abbr>.
				So the project had to be focused on learning these skills.
			</p>
			<p class="center reveal fromLeft">
				As I have a passion for making games I felt that a great way motivate myself to learn would be to make a simple website game that I could share with my friends.
			</p>
			<h4 class="center reveal fromLeft">
				So decided on Minesweeper.
			</h4>

		</div>


		<!-- Shared common footer -->
		<%- include('Components/Footer'); %>

		<script src="Public/JavaScript/AnimateOnAppear.js"></script>

	</div>

	<!-- Shared common loader -->
	<%- include('Components/Loader'); %>
</body>
</html>