<%
if (CardData.ProjectData)
{
	<!-- create copy of the data -->
	ProjectData = Object.assign({}, CardData.ProjectData);

	CardData = {
		Title: ProjectData.Title,
		Body: ProjectData.QuickDescription,
		Thumbnail: ProjectData.Thumbnail,
		QuickInfoData: ProjectData,
		Tags: ProjectData.Tags,
		Hide: ProjectData.Hide
	}

	if (ProjectData.PagePath)
	{
		CardData.Link = PageData.PathToRoot + ProjectData.PagePath + ".html"
	}
	else
	{
		CardData.Link = ProjectData.Link
	}

	if (ProjectData.HideLink)
	{
		CardData.Link = null;
	}
}



if (CardData.QuickInfoData && CardData.Thumbnail)
{
	CardData.QuickInfoData.Skills = null

	let dataText = CardData.QuickInfoData.StartDate
	if (dataText && dataText.length > 15)
	{
		CardData.QuickInfoData.StartDate = null
	}

	CardData.QuickInfoData.Awards = null
}

if (CardData.QuickInfoData )
{
	CardData.QuickInfoData.HideSkillTitle = true
}
%>


<%
if (!CardData.Hide)
{

if (CardData.Link) { %>
<a class="card glass reveal neonOutline" tags="<%=CardData.Tags%>" href="<%= CardData.Link %>" <% if (CardData.OpenInNewTab) { %> target="_blank" <% }%> >
<% }else{%>
<div class="card glass reveal" tags="<%=CardData.Tags%>">
<% }%>

	<% if (CardData.Thumbnail) { %>
	<div class="cardImage">
		<%- include('Picture', {ImgData: {
			Path:CardData.Thumbnail,
			ClassList: "",
			Alt: CardData.Title + " Thumbnail",
			Sizes: "350px"
		}}); %>
		<% if (CardData.QuickInfoData) { %>
			<%- include('QuickInfo', {
				QuickInfoData: CardData.QuickInfoData,
				PageData: PageData
			}); %>
		<% }%>

	</div>
	<h3><%= CardData.Title %></h3>

	<% if (CardData.Body) { %>
	<p><%= CardData.Body %></p>
	<% }%>

	<% }else{%>

		<h3><%= CardData.Title %></h3>
		<% if (CardData.QuickInfoData) { %>
			<%- include('QuickInfo', {
				QuickInfoData: CardData.QuickInfoData,
				PageData: PageData
			}); %>
		<% }%>
		<% if (CardData.Body) { %>
			<p><%= CardData.Body %></p>
		<% }%>

	<% }%>



	<% if (CardData.Link) { %>
	<h4 class="bottom"><u>More Info</u></h4>
	<% }%>

<%if (CardData.Link) { %>
</a>
<% }else{%>
</div>
<% }%>

<% } %>