<% contactLinks=PageData.SiteConfig.ContactLinks %>


	<hr class="gap">

	<footer class="glass noBorder">

		<h2 class="reveal fromTop center">Find Me On:</h2>

		<div class="delayRevealChildren slow center ContactLinkHolder">

			<%if (contactLinks.LinkedIn){%>
				<a class="reveal" href=<%=contactLinks.LinkedIn%> target="_blank">
					<%- include('Picture', {ImgData: { Path:"Public/Assets/Icons/linkedin-flat",
						ClassList: "brandLogo glass neonOutline" , Alt: "Linkedin Logo" , IsSvg: true }}); %>
				</a>
				<%}%>


					<%if (contactLinks.ItchIo){%>
						<a class="reveal" href=<%=contactLinks.ItchIo%> target="_blank">
							<%- include('Picture', {ImgData: { Path:"Public/Assets/Icons/itch-dot-io",
								ClassList: "brandLogo glass neonOutline" , Alt: "Itch Logo" , IsSvg: true }}); %>
						</a>
						<%}%>


							<%if (contactLinks.GitHub){%>
								<a class="reveal" href=<%=contactLinks.GitHub%> target="_blank">
									<%- include('Picture', {ImgData: { Path:"Public/Assets/Icons/github",
										ClassList: "brandLogo glass neonOutline" , Alt: "Github Logo" , IsSvg: true }});
										%>
								</a>
								<%}%>


									<%if (contactLinks.Instagram){%>
										<a class="reveal" href="<%=contactLinks.Instagram%>" target="_blank">
											<%- include('Picture', {ImgData: { Path:"Public/Assets/Icons/Instagram",
												ClassList: "brandLogo glass neonOutline" , Alt: "Instagram Logo" ,
												IsSvg: true }}); %>
										</a>
										<%}%>
		</div>

		<%if (contactLinks.Email){%>
			<div class="reveal fromRight center">
				<label for="email">Email: </label>
				<a href="mailto:<%=contactLinks.Email%>" id="email">
					<%=contactLinks.Email%>
				</a>
			</div>
			<%}%>


				<div id="smallPrint">
					<p class="reveal fromLeft left">©2021 Louie Jones-Strong.</p>
					<!-- <p class="reveal fromRight right">Built On: <%=PageData.CurrentDate%>.</p> -->
				</div>

	</footer>