<%
	<!-- define helper functions -->

	function RoundDate(date)
	{
		<!-- round the date to the nearest resolution -->

	}

	function GetDelta(start, end)
	{
		return Math.ceil((end - start) / (1000 * 60 * 60 * 24));
	}

	function FormatDate(date, showYear = true, showMonth = true, showDay = true)
	{
		let format = {};

		if (showYear)
			format.year = 'numeric';

		if (showMonth)
			format.month = 'long';

		if (showDay)
			format.day = 'numeric';

		<!-- { year: 'numeric', month: 'long', day: 'numeric' } -->
		return date.toLocaleDateString("en-US", format);
	}


<!-- find the range of the timeline header -->
let headerStart = -1;
let headerEnd = -1;
for (const projectKey of TimelineData.Projects)
{
	const project = PageData.Projects[projectKey];

	let projectStartDate = new Date(project.StartDate);
	let projectEndDate = new Date(project.EndDate);

	if (headerStart == -1 || projectStartDate < headerStart)
	{
		headerStart = projectStartDate;
	}

	if (headerEnd == -1 || projectEndDate > headerEnd)
	{
		headerEnd = projectEndDate;
	}
}

headerStart = new Date(headerStart.getFullYear(), 0, 1);
headerEnd = new Date(headerEnd.getFullYear() + 1, 0, 1);

const headerDays = GetDelta(headerStart, headerEnd);



<!-- squash timelines into the indents -->
let indents = [];
for (const projectKey of TimelineData.Projects)
{
	const projectToFit = PageData.Projects[projectKey];
	const projectStartDate = new Date(projectToFit.StartDate);
	const projectEndDate = new Date(projectToFit.EndDate);

	<!-- pack the project into the first indent that has spare space for it -->
	let indent = 0;
	while (indents[indent] != undefined)
	{
		let indentEnd = new Date(headerStart);
		for (const intentProjectKey of indents[indent])
		{
			const intentProject = PageData.Projects[intentProjectKey];
			const endDate = new Date(intentProject.EndDate);

			if (endDate > indentEnd)
				indentEnd = endDate;
		}

		if (projectStartDate > indentEnd)
			break;

		indent++;
	}





	if (indents[indent] == undefined)
		indents[indent] = [];

	indents[indent].push(projectKey);



	<!-- add constants -->
	var dateScale = 0.05;
	var hybridScroll = false;
	var showEventStartEndDates = false;
	var showEventSubs = false;
	var showEventSubDates = false;
}
%>


<%if (hybridScroll){%>
<div class="hybridScroll_Container">
	<div class="hybridScroll_StickyContainer">
		<div class="hybridScroll_HorizontalScroll timelineHolder" style="--dateScale: <%=dateScale %>em; --duration: <%=headerDays %>;">

<%}else{%>
	<div class="timelineWrapper">
	<div class="timelineHolder" style="--dateScale: <%=dateScale %>em; --duration: <%=headerDays %>;">
<%}%>

<div class="indent">
	<div class="timelineHeader" style="--dateOffset: <%=headerStart %>; --duration: <%=headerDays %>;">
		<div class="line"></div>
		<%var subDate = new Date(headerStart);
		while (subDate <= headerEnd)
		{
			const subDateOffset = GetDelta(headerStart, new Date(subDate));

			if (subDate.getMonth() == 0){%>
				<div class="tick large" style="--dateOffset: <%= subDateOffset %>;">
					<h4><%= FormatDate(subDate, showYear=true, showMonth=false, showDay=false) %></h4>
				</div>
			<%}else{%>
				<div class="tick" style="--dateOffset: <%= subDateOffset %>;"></div>
			<%}
			subDate.setMonth(subDate.getMonth() + 1);
		}%>
	</div>
</div>

<%for (const indentProjects of indents)
{%>
	<div class="indent">
		<%for (const projectKey of indentProjects)
		{%>

				<%
				const project = PageData.Projects[projectKey];
				const startDate = new Date(project.StartDate);
				const endDate = new Date(project.EndDate);

				const offset = GetDelta(headerStart, startDate);
				const duration = GetDelta(startDate, endDate);
				%>


				<div class="timeline" style="--dateOffset: <%=offset %>; --duration: <%=duration %>;">
					<h4 class="timelineTitle"> <%=project.Title %> </h4>
					<div class="line"></div>
					<div class="tick large" style="--dateOffset: 0;">
						<%if (showEventStartEndDates){%>
							<h5><%= FormatDate(startDate, false, true, true) %></h5>
						<%}%>
					</div>
					<div class="tick large" style="--dateOffset: <%= duration %>;">
						<%if (showEventStartEndDates){%>
							<h5><%= FormatDate(endDate, false, true, true) %></h5>
						<%}%>
					</div>

					<%if (showEventSubs){%>
						<%for (const subDateStr of project.SubDates)
						{
							const subDate = new Date(subDateStr);
							const subDateOffset = GetDelta(startDate, subDate);
							%>
							<div class="tick" style="--dateOffset: <%= subDateOffset %>;">
								<%if (showEventSubDates){%>
									<%= FormatDate(subDate) %>
								<%}%>
							</div>
						<%}%>
					<%}%>
				</div>

		<%}%>
	</div>
<%}%>

<%if (hybridScroll){%>
</div>
</div>
</div>
<%}else{%>
</div>
</div>
<%}%>