
<!-- todo add reveal -->
<div class="quickInfoHolder delayRevealChildren">

	<!-- todo add date happened -->

	<% if (QuickInfoData.TimeSpent) { %>
		<!-- time spent -->
		<div class="quickInfo">
			<i class="material-icons">date_range</i>
			<h5><%= QuickInfoData.TimeSpent %></h5>
		</div>
	<% }%>

	<% if (QuickInfoData.NumPeople) { %>
		<!-- number of people -->
		<% if (QuickInfoData.NumPeople == 1) { %>
			<div class="quickInfo">
				<i class="material-icons">person</i>
				<h5>Solo</h5>
			</div>
		<% }else if (QuickInfoData.NumPeople == 2){ %>
			<div class="quickInfo">
				<i class="material-icons">people</i>
				<h5>2</h5>
			</div>
		<% }else { %>
			<div class="quickInfo">
				<i class="material-icons">groups</i>
				<h5><%= QuickInfoData.NumPeople %></h5>
			</div>
		<% }%>
	<% }%>


</div>

<!-- todo add skills / tools learn-->
<!-- todo add tools used for example unity c# -->

<div class="quickLinkHolder delayRevealChildren">

	<!-- where to play/see it -->
	<% if (QuickInfoData.GithubLink) { %>
		<form action="<%= QuickInfoData.GithubLink %>" target="_blank" class="quickInfo">
			<button>
				<img class="icon greyScale" src="Assets/Icons/github.svg" alt="Github Logo">
				<h5>Code</h5>
			</button>
		</form>
	<% }%>

	<% if (QuickInfoData.ItchLink) { %>
		<form action="<%= QuickInfoData.ItchLink %>" target="_blank" class="quickInfo">
			<button>
				<img class="icon greyScale" src="Assets/Icons/itch-dot-io.svg" alt="Itch Logo">
				<h5>Play Here</h5>
			</button>
		</form>
	<% }%>

	<% if (QuickInfoData.WebsiteLink) { %>
		<form action="<%= QuickInfoData.WebsiteLink %>" target="_blank" class="quickInfo">
			<button>
				<img class="icon greyScale" src="Assets/Icons/website.svg">
				<h5>Website</h5>
			</button>
		</form>
	<% }%>

	<% if (QuickInfoData.InstagramLink) { %>
		<form action="<%= QuickInfoData.InstagramLink %>" target="_blank" class="quickInfo">
			<button>
				<img class="icon greyScale" src="Assets/Icons/Instagram.svg" alt="Instagram Logo">
				<h5>Instagram</h5>
			</button>
		</form>
	<% }%>

	<% if (QuickInfoData.GooglePlayLink) { %>
		<form action="<%= QuickInfoData.GooglePlayLink %>" target="_blank" class="quickInfo">
			<button>
				<img class="icon" src="Assets/Icons/GooglePlayStore.svg" alt="Google Play Store Logo">
				<h5>Google Play</h5>
			</button>
		</form>
	<% }%>

	<% if (QuickInfoData.AppleLink) { %>
		<form action="<%= QuickInfoData.AppleLink %>" target="_blank" class="quickInfo">
			<button>
				<img class="icon greyScale" src="Assets/Icons/Apple.svg" alt="Apple Logo">
				<h5>Apple Arcade</h5>
			</button>
		</form>
	<% }%>
</div>