<!doctype html>
<html lang="en">

<head>
	<!-- shared common Head Logic -->
	<%- include(PageData.PathToRoot+"Components/Head", {
		PageData: PageData,
		ProjectData: ProjectData
	}); %>

	<!-- extra links if needed -->
	<link rel="stylesheet" type="text/css" href="<%=PageData.PathToRoot%>Public/css/Optinal/CardHolder.css">
</head>

<body class="dark">

	<!-- Shared common loader -->
	<%- include(PageData.PathToRoot+"Components/Loader"); %>
	<div class="content">
		<!-- shared common header -->
		<%- include(PageData.PathToRoot+"Components/AccessibilityHelper"); %>
		<div class="background">
			<!-- shared common header -->
			<%- include(PageData.PathToRoot+"Components/Header"); %>

			<hr class="gap">

			<div class="centeredFrame">
				<h1 class="center reveal fromBottom">Education</h1>
				<%- include(PageData.PathToRoot+'Components/QuickInfo', {QuickInfoData: ProjectData}); %>
				<div class="cardHolder">
					<%
					for (const projectKey of ProjectData.SubProjects)
					{
						const project = PageData.Projects[projectKey];%>
						<%- include(PageData.PathToRoot+'Components/Card', {PageData:PageData, CardData: {ProjectData: project}}); %>
					<%}
					%>
				</div>
			</div>

			<!-- Shared common footer -->
			<%- include(PageData.PathToRoot+"Components/Footer"); %>
		</div>

		<%- include(PageData.PathToRoot+'Components/VanillaTilt', {PageData: PageData, TiltData: {}}); %>
	</div>
</body>
</html>