<!DOCTYPE html>
<html lang="en">

<!-- Metadata about the page itself for search engines -->
<head>
	<!-- shared common Head Logic -->
	<%- include(PageData.PathToRoot+'Components/Head', {
		PageData: PageData,
		ProjectData: ProjectData
	}); %>

	<!-- extra links if needed -->
		<link rel="stylesheet" type="text/css" href="<%=PageData.PathToRoot%>Public/css/Optional/Carousel.css">
</head>


<body class="dark">

	<!-- Shared common loader -->
	<%- include(PageData.PathToRoot+'Components/Loader'); %>
	<div class="content background">

		<!-- shared common header -->
		<%- include(PageData.PathToRoot+'Components/AccessibilityHelper'); %>

		<!-- shared common header -->
		<%- include(PageData.PathToRoot+'Components/Header'); %>

		<!-- cover image slide show -->
		<div class="slide-holder">
			<div class="slide">
				<%- include(PageData.PathToRoot+'Components/Picture', {ImgData: {
					Path:"Public/Assets/CubePuzzle/CoverImage",
					ClassList: "",
					Alt:"Engraved gold model of the cube",
					LoadingType: "eager"
				}}); %>
				<div class="slide-caption">
					<p>Engraved gold model of the cube.</p>
				</div>
			</div>
		</div>
		<script src="<%=PageData.PathToRoot%>Public/js/Carousel.js"></script>

		<div class="centeredFrame">

			<h1 class="center reveal fromBottom"><%=ProjectData.Title %></h1>

			<%- include(PageData.PathToRoot+'Components/QuickInfo', {QuickInfoData: ProjectData}); %>

			<p class="reveal fromBottom center">After finishing college I was invited to attempt to solve the Alhambra Puzzle by its inventor.</p>
			<p class="reveal fromBottom center">I was the first to solve it so despite a number of previous attempts, including the maths department at Sussex University.</p>
			<h2 class="reveal fromBottom center">What is the Alhambra Puzzle?</h2>
			<p class="reveal fromBottom center">
				The puzzle is an award winning ornate hand-crafted gold piece made of 8 unique cubes (the harder version has a extra cube).
				These sub-cubes are assembled together to form the mega cube.<br>
				The sub-cubes have a triangle on each of their faces, that form a pattern on each face of the mega cube when assembled.
				To check if the puzzle if solved all the faces on the mega cube need to match a set of allowed pattens.
				However you also need to check the inside faces of the mega cube. This means that there are 12 faces on the mega cube that need to have the correct patten.
			</p>
			<h2 class="reveal fromBottom center">Complexity</h2>
			<p class="reveal fromBottom center">
				The inventor thought that there was 480,000 possible permutations, and only one correct solution.
			</p>
			<p class="reveal fromBottom center">
				My analysis revealed there was over 4 quadrillion permutations for the simple version (8 cubes),
				and over 39 quadrillion for the complex version (9-cubes).
			</p>
			<p class="reveal fromBottom center">
				Even if you tried a new cube 1000 times per second, then it would take 140 thousand years to try all of them.
				Therefore, I set my goal to simplify the problem to allow it to be solved without checking all these permutations.</p>
			<h2 class="reveal fromBottom center">Results</h2>
			<p class="reveal fromBottom center">
				Running my algorithm on a laptop found 1,636 solutions in 6 hours, taking an average of 12 seconds per solution.
			</p>
		</div>


		<!-- Shared common footer -->
		<%- include(PageData.PathToRoot+'Components/Footer'); %>



	</div>
</body>
</html>