<!DOCTYPE html>
<html lang="en">

<!-- Metadata about the page itself for search engines -->
<head>
	<!-- shared common Head Logic -->
	<%- include(PageData.PathToRoot+'Components/Head', {
		PageData: PageData,
		ProjectData: ProjectData
	}); %>
</head>


<body class="dark">

	<!-- Shared common loader -->
	<%- include(PageData.PathToRoot+'Components/Loader'); %>
	<div class="content background">

		<!-- shared common header -->
		<%- include(PageData.PathToRoot+'Components/AccessibilityHelper'); %>

		<!-- shared common header -->
		<%- include(PageData.PathToRoot+'Components/Header'); %>

		<!-- add padding of 4em to stop the header from blocking the top cells -->
		<div style="height: 4em;"></div>

		<iframe src="https://louie-jones-strong.github.io/MineSweeper/Component.html" frameborder="0" style="width: 100%; height: 80vh;">

		</iframe>

		<div class="centeredFrame">
			<h1 class="center reveal fromBottom">Minesweeper</h1>

			<%- include(PageData.PathToRoot+'Components/QuickInfo', {QuickInfoData: ProjectData}); %>

			<p class="center reveal fromLeft">
				Before I started my University degree I wanted to get ahead of the course to help me maintain a good work, education and life balance. (as I was working full time during my first year of University).
			</p>
			<p class="center reveal fromLeft">
				I knew that a lot of the early modules were going to be tough in JavaScript with some minimal <abbr title="HyperText Markup Language">HTML</abbr> and <abbr title="Cascading Style Sheets">CSS</abbr>.
				So the project had to be focused on learning these skills.
			</p>
			<p class="center reveal fromLeft">
				As I have a passion for making games I felt that a great way motivate myself to learn would be to make a simple website game that I could share with my friends.
			</p>
			<h4 class="center reveal fromLeft">
				So decided on Minesweeper.
			</h4>

		</div>


		<!-- Shared common footer -->
		<%- include(PageData.PathToRoot+'Components/Footer'); %>



	</div>
</body>
</html>